version: "3.9"

services:
  db:
    image: postgres:16
    container_name: go_postgres
    environment:
      POSTGRES_USER: go_admin
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: jcd-go
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  api:
    build: .
    container_name: go_api
    ports:
      - "8080:8080"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  pgdata: